<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/header');%>
</head>
<body>

    <%-include('./partials/navbar');%>
    
    <div class="container">
        <h1>Глава I ОБЩИЕ ПОЛОЖЕНИЯ</h1>
        <p><strong>1.</strong> Правила дорожного движения (в дальнейшем - Правила) содержат нормы, определяющте порядок движения транспортных средств и пешеходов на общественных дорогах Республики Молдова, а также на прилегающих к ним территориях. Соблюдение настоящих правил гарантирует безопасность окружающей среды, защиту закононых прав и интересов физических и юредических лиц, а так же охрану их собствености.</p>
        <p><strong>2.</strong> В Республике Молждова установлено правостороннее движение транспортныхх средств. Запрещается движение по общественным дорогам механических транспортных средств, у которых рулевое колесо установлено справа от продольной оси, за исключением транспортных средств, учавствующих в междунородном движении.</p>
        <p><strong>3.</strong> Участники дорожного движения обязаны соблюдать правила движения, требования средств дорожной сигнализации, сигналы и указания регулировщика, технические условия, исложеные в настоящих Правилах, и своими действиями не наносить ущерба другим участникам дорожного движения, не подвергать их опасности, а так же не создавать необносванно припятствий в движении большихЮ чем это вызвано неизбежными обстоятельствами.</p>
        <p><strong>4.</strong> Каждый участник дорожного движения, соблюдающий настоящие Правила, вправе расчитывать на то, что и другие участники дорожного движения выполняют их требования.</p>
        <p><strong>5.</strong> Запрещается создавать препятствия для движения транспортных средств и пешеходов при выполнении дорожных работ, складировать материалы или какие-либо другие предметы на проезжей части общественных дорог или на тратуарах без предварительного согласования с полицией. Не считается припятствием, находящиеся на тратуарах материалы или предметы, если при этом они не создают помех для движения пешеходов. <br> Прирятствия, ограничивающие движение по общественным дорогам, должны быть обозначены теми, кто их создал, соответствующими стредствами обозначения дорожных работ, согласно предписаниям полиции./p>
        <p><strong>6.</strong>  <span>На общественных дорогах запрещена организация конкурсов, тренировок иои автогонок, за исключением тех, которые получили разрешение даминистратора соответствующей дороги и прелварительно согласованы с полицией. Организаторы обязаны предпринять все необходимые меры для безопасного проведения таких мероприятий, а так же для охраны других участников дорожного движения.</span></p>
        <p><strong>7.</strong> В настоящих Правилах следущие понятия и термины обозначают: <br> <span>дорожно-транспортное происшествие</span>- событие, произошедвшее вследствии нарушения норм безопасности дорожного движения, с вовлечением одного или нескольких транспортных средств, находящихся в движении по общественной дороге, приведшее к нарушению здоровья, нанесения телесных повреждений, гибели одного или нескольких человек либо причинению материального ущерба; <br> <strong> обочина<a href="">(Рис. 5 F)</a></strong> - продольная полоса, расположенная между проезжей частью и краем дорожного полотна; <br><strong>регулировщик</strong> - лицо, соответвенно экипированное, наделенное полномочиями по контролю и регулированию дорожного движения посредством сигналов, установленных настоящими Правилами (полицейский, дежурный на железнодорожном переезде, работник дорожно-эксплутационной службы, дежурный на паромной переправе);<br><strong>состав транспортных средств <a href="">(Рис.1)</a></strong>- состав, сформированный из механического транспортного средства, являющегося тягочем, и прицепа или полуприцепа, который движется по общественной дороге как одно целое; <br> <strong>автомагистраль</strong>-  дорога, специально сконструированная, обустроенная и обозначенная знаком 5.2, имеющая проезжие части, отдаленные друг от друга разделительной полосойЮ а при ее отсутствии - другими средствами, преднаязнаяченная исключительно для движения механических транспортных средств на большой скрости, не имеющая пересечений на одном уровне с другими дорогами, железнодорождными путями и пешеходными переходами <strong><a href="">(Рис.2)</a></strong>; <br> <strong>механическое транспортное средство</strong>- самоходное транспортное средство, предназначенное для перевозки людей или грузов либо производство работ, за исключением мопеда и рельсовых транспортных средств. Троллейбус считается механическим транспортным средством; <br> <strong>полоса движения <a href="">(Рис. 5 D)</a></strong> - продольная полоса проезжей части, обозначенная дорожной разметкой, имебщая ширину, достаточную для беспрепятствевнного движения в один ряд транспортных средств иных, чем двухколесные; <br> <strong>разделительная полоса <a href="">(Рис. 3),</a><a href="">(Рис. 5 E)</a></strong>- элемент дороги</p>






    </div>




</body>
</html>