<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/header');%>
</head>
<body>

    <%-include('./partials/navbar');%>
    
    <div class="container">

        <h1>Gallery Page</h1>


        <div class="gallery">

        </div>

    </div>



<script src="/script.js"></script>
</body>
</html>