<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/header');%>
</head>
<body>

    <%-include('./partials/navbar');%>
    
    <div class="container">
        <h1>Содержание</h1>
        <hr>
        <p><a href="/chapters"><strong>Глава I</strong></a>   ОБЩИЕ ПОЛОЖЕНИЯ</p>

        <p><a href=""><strong>Глава II</strong></a>  ОБЯЗАНОСТИ ВОДИТЕЛЕЙ ТРАНСПОРТНЫХ СТРЕДСТВ. НАЛАГАЕМЫЕ НА НИХ ЗАПРЕЩЕНИЯ И ИХ ПРАВА</p>

        <p><a href=""><strong>Глава III</strong></a>  ОРГАНИЗАЦИЯ И РЕГУЛЕРОВАНИЕ ДОРОЖНОГО ДВИЖЕНИЯ</p>
        
        <p><a href=""><strong>Часть 1</strong></a>  Общие положения</p>
        
        <p><a href=""><strong>Часть 2</strong></a>  Сигналы регулировщика<a href=""><strong>(приложение №1)</strong></a></p>
        
        <p><a href=""><strong>Часть 3</strong></a>  Сигналы светофоров<a href=""><strong>(приложение №2)</strong></a></p>
        
        <p><a href=""><strong>Часть 4</strong></a>  Сигналы на железнодорожных переездах</p>

        <p><a href=""><strong>Часть 5</strong></a>  Дорожные знаки<a href=""><strong>(приложение №3)</strong></a></p>
           
        <p><a href=""><strong>Пояснительная записка к приложению</strong></a></p>
        
        <p><a href=""><strong>Часть 6</strong></a>  Дорожная разметка<a href=""><strong>(приложение №4)</strong></a></p>

        <p><a href=""><strong>Пояснительная записка к приложению №4</strong></a>  ЗНАЧЕНИЕ ДОРОЖНОЙ РАЗМЕТКИ И ОСОБЕННОСТИ ЕЕ ПРИМИНЕНИЯ</p>

        <p><a href=""><strong>Часть 7</strong></a>  Средства обозначения дорожных работ<a href=""><strong>(Приложение №5)</strong></a></p>

        <p><a href=""><strong>Пояснительная записка к приложению №6</strong></a>  ОПОЗНОВАТЕЛЬНЫЕ ЗНАКИ ТРАНСПОРТНЫХ СРЕДСТВ</p>
        
        <p><a href=""><strong>Часть 8</strong></a>  Сигналы водителей транспортных средств. Пользование внешними световыми приборами и приборами световой и звуковой сигнализации</p>
        
        <p><a href=""><strong>Глава IV</strong></a>  ПРАВИЛА ДВИЖЕНИЯ ТРАНСПОРТНЫХ СРЕДСТВ</p>

        <p><a href=""><strong>Часть 1</strong></a>  Начало движения и изминение напрвление движения</p>

        <p><a href=""><strong>Часть 2</strong></a>  Расположение транспортных средств на проезжей части</p>

        <p><a href=""><strong>Часть 3</strong></a>  Скорость движения и дистанция между транспортными средствами</p>

        <p><a href=""><strong>Часть 4</strong></a>  Обгон и встречный разъезд</p>

        <p><a href=""><strong>Часть 5</strong></a>  Проезд перекрестков</p>

        <p><a href=""><strong>Часть 6</strong></a>  Движение через железнодорожные пути</p>

        <p><a href=""><strong>Часть 7</strong></a>  Остановка и стоянка. Парковка</p>

        <p><a href=""><strong>Часть 8</strong></a>  Буксировка неисправных механических транспортных стредств и прицепов</p>

        <p><a href=""><strong>Часть 9</strong></a>  Перевозка пассажиров</p>

        <p><a href=""><strong>Часть 10</strong></a>  Перевозка грузов</p>

        <p><a href=""><strong>Часть 11</strong></a>  Движение в жилых и пешеходных зонах</p>

        <p><a href=""><strong>Часть 12</strong></a>  Движение на автомагистралях</p>

        <p><a href=""><strong>Часть 13</strong></a>  Участие транспортных средств в международном движении</p>

        <p><a href=""><strong>Часть 14</strong></a>  Транспортные стредства с приоритетным режимом движения и обязоннасти других водителей</p>

        <p><a href=""><strong>Часть 15</strong></a>  Обучение вождению транспортных средств</p>

        <p><a href=""><strong>Часть 16</strong></a>  Движение велосипедов, гужевого транспорта, <span>мотокультиваторов с прицепом</span> и пешеходов с <span>товарными</span> тележками</p>

        <p><a href=""><strong>Часть 17</strong></a>  Движение пешеходов и колон</p>

        <p><a href=""><strong>Часть 18</strong></a>  Технические условия для пропуска к дорожному движению механических транспортных средств</p>

        <p><a href=""><strong>Глава V</strong></a>  ОБЯЗАНОСТИ СОБСТВЕННИКОВ ТРАНСПОРТА И ДОЛЖНОСТНЫХ ЛИЦ, ОТВЕТСТВЕННЫХ ЗА ЭКСПЛУАТАЦИЮ ТРАНСПОРТНЫХ СТРЕДСТВ, ОБЩЕСТВЕННЫХ ДОРОГ, ЖЕЛЕЗНОДОРОЖНЫХ ПЕРЕЕЗДОВ И ДРУГИХ ДОРОЖНЫХ СООРУЖЕНИЙ ПО ОБЕСПЕЧЕНИЮ БЕЗОПАСНОСТИ ДОРОЖНОГО ДВИЖЕНИЯ</p>

















    </div>




</body>
</html>