<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main-File</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/main.css">
</head>
<body>
  <div class="container">
    <div class="menu">
    <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
          <span></span>
        </label>
        <ul class="menu__box">
          <li><a class="menu__item" href="/">ПДД</a></li>
          <li><a class="menu__item" href="#">Проекты</a></li>
          <li><a class="menu__item" href="#">Команда</a></li>
          <li><a class="menu__item" href="#">Блог</a></li>
          <li><a class="menu__item" href="#">Контакты</a></li>
        </ul>
      </div>
    </div>
    <div class="logo">
        <button>
            <a href="/"><span>S</span>mart</a>
        </button>
        <div class="info">
        <h1><span>Smart</span> Agency Landign Page</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus quo sed cumque cum eligendi nisi blanditiis necessitatibus doloremque odit! Perferendis neque similique assumenda doloremque! Harum provident dolores molestiae quam aperiam.</p>
        </div>
    </div>
    <div class="message">
      <p><span>Send</span> A Message</p>

      <form action="/my-handling-form-page" method="post">
        <form action="/my-handling-form-page" method="post">
          <ul>
            <li>
              <label for="name"></label>
              <input class="inp" type="text" value="Your Name" />
            </li>
            <li>
              <label for="mail"></label>
              <input class="inp" type="text" value="Your Email" />
            </li>
            <li>
              <label for="msg"></label>
              <textarea class="msg" name="user_message">Your Message</textarea>
            </li>
          </ul>
          <li class="button">
            <button type="submit">Send Message ➔</button>
          </li>
      </form>
    </div>
    <div class="working">
      <h1><span>Working</span> Progress</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius magnam quos</p>
      <div class="blocks">
        <div class="koc">
          <img src="img/1.png" alt="">
          <h4>Koc Koi Tomi</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button>+ Know More</button>
        </div>
        <div class="koi">
          <img src="img/2.png" alt="">
          <h4>Koimona Set</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button>+ Know More</button>
        </div>
        <div class="set">
          <img src="img/3.png" alt="">
          <h4>Setting Koire</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button>+ Know More</button>
        </div>
        <div class="ko">
          <img src="img/4.png" alt="">
          <h4>Ko Image Lara</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button>+ Know More</button>
        </div>
      </div>
    </div>
    <div class="gallery-block">
      <h2><span>Featured</span> Works</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque atque, odit placeat.</p>
      <div class="gallery">
        <img src="img/dina1.png" alt="">
        <img src="img/dina2.png" alt="">
        <img src="img/dina3.png" alt="">
        <img src="img/dina4.png" alt="">
        <img src="img/dina1.png" alt="">
        <img src="img/dina2.png" alt="">
        <img src="img/dina3.png" alt="">
        <img src="img/dina4.png" alt="">
        <img src="img/dina1.png" alt="">
      </div>
    </div>
    <div class="services">
      <h2><span>Services</span> We Provide</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga providet libera</p>
      <div class="part2">
      <h4>Modern App Design</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium magnam consectetur aliquam neque quae minus unde commodi ipsum doloribus fugiat, culpa quas harum facilis blanditiis similique expedita! Cum, iste facilis!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto hic similique in placeat dolorum, modi officia quos saepe sunt debitis, eum animi tenetur? Aspernatur laudantium saepe aut natus, at voluptates.</p>
      <button>+ Know More</button>
      </div>
      <div class="apple">
        <img src="img/apple.png" alt="">
      </div>
      <nav>
        <div class="img-ser">
        <img class="ser1" src="img/ser1.png" alt="">
        </div>
        <div class="img-ser">
        <img class="ser2" src="img/ser2.png" alt="">
        </div>
        <div class="img-ser">
        <img class="ser3" src="img/ser3.png" alt="">
        </div>
        <div class="img-ser">
        <img class="ser4" src="img/ser4.png" alt="">
        </div>
      </nav>
    </div>
    <div class="team">
      <h2><span>Team</span> Chinen & Skills</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.</p>
      <div class="teams">
      <div class="one">
        <button>
          <h3>Bedi Manos</h3>
          <p>UI/UX Parea</p>
        </button>
      </div>
      <div class="two">
        <button>
          <h3>AI Rayhan</h3>
          <p>UI/UX Designer</p>
        </button>
      </div>
      <div class="three">
        <button>
          <h3>Ali Sayed</h3>
          <p>UI/UX Designer</p>
        </button>
      </div>
      </div>
    </div>
    <div class="slider" id="slider">
      <h2><span>Clients</span> Said</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.</p>
      <div class="photos">
        <img src="img/q1.png" alt="">
        <img src="img/q2.png" alt="">
        <img src="img/q3.png" alt="">
        <img src="img/q4.png" alt="">
        <img src="img/q5.png" alt="">
        <img src="img/q6.png" alt="">
        <img src="img/q7.png" alt="">
        <img src="img/q4.png" alt="">
      </div>
      <div class="buttons">
        <input type="button" value="<" class="prev">
        <input type="button" value=">" class="next">
      </div>
    </div>
    <div class="reklama">
      <img src="img/linkedin.png" alt="">
      <img src="img/dreble.png" alt="">
      <img src="img/envato.png" alt="">
      <img src="img/linkedin.png" alt="">
      <img src="img/dreble.png" alt="">
      <img src="img/envato.png" alt="">
    </div>
    <div class="futer">
      <input type="button" value="Contact Us" class="">
      <div class="ikonki">
        <button><img src="img/F.png" alt=""></button>
        <button><img src="img/tw.png" alt=""></button>
        <button><img src="img/meac.png" alt=""></button>
        <button><img src="img/b.png" alt=""></button>
      </div>
      <p>© 2015 - 2016 Deviserweb Ltd.</p>
    </div>
  </div>
</body>
<script src="/slider.js"></script>
<!-- <script src="js/scirpt.js"></script> -->
</html>